@import "../sprites/sprite";
@media screen and (max-width:1200px) {
  .slider {
    &__caption {
      &:after {
        @include sprite($icon-fork);
      }
    }
  }
  .gptitle {
    &--menu {
      &:after {
        @include sprite($icon-fork);
      }
    }
    // &--popul {
    //   &:after {
    //     content: none;
    //   }
    // }
    // &--salad {
    //   &:after {
    //   content: none;
    //   }
    // }
  }
  .navbar-default .navbar-nav>li>a {
    padding: 12px 20px;
  }

  // .meal {
  //   &--desc {
  //     margin-bottom: 0;
  //   }
  // }


}

@media screen and (max-width:1024px) {
  .menu {
    &__item {
      background-color: #1b1b1b;
      padding-bottom: 36px;
      margin-bottom: 40px;
    }
  }
  .gptitle {
    &--about {
      margin: 20px 0 30px;
    }
    &--menu {
      padding-top: 64px;
    }
  }
  .about {
    padding-bottom: 40px;
  }
  .news {
    &__img {
      margin-bottom: 20px;
    }
    &__info {
      &--more {
        margin-bottom: 40px;
        display: inline-block;
      }
    }
  }
  .gpbutton {
    &--news {
      margin-top: 20px;
    }
  }
  .navbar-default .navbar-nav>li>a {
    padding: 12px 11px;
    font-size: 16px;
  }
  .video {
    &__main {
      width: 90%;
    }
  }
}

@media screen and (max-width:992px) {
  .slick-slide img {
    width: 80%;
  }
  .gptitle {
        &--popul {
      margin-top: 40px;
      margin-bottom: 50px;
      &::after {
        content: none;
      }
    }
    &--salad {
      &::after {
        content: none;
      }
  }
}
}

@media screen and (max-width:767px) {
  .gptitle {
    font-size: 60px;
    &--video {
      padding-top: 74px;
      padding-bottom: 50px;
      &::after {
        content: none;
      }
    }
    &--team {
      padding-top: 70px;
      &::after {
        content: none;
      }
    }
    &--deliv {
      padding: 74px 0 36px;
      &::after {
        content: none;
      }
    }
    &--popul {
      margin-top: 40px;
      margin-bottom: 50px;
      &::after {
        content: none;
      }
    }
    &--salad {
      &::after {
        content: none;
      }
    }
  }
  .video {
    min-height: 580px;
    &__main {
      margin-top: 0;
      min-height: 260px;
    }
  }
  .footer {
    padding: 46px 0;
    &__prod {
      padding-top: 20px;
    }
    &__copy {
      text-align: left;
    }
  }
  .gpbutton {
    &--menu {
      margin-top: 50px;
    }
  }
  .gallery {
    padding-bottom: 60px;
  }
  .team {
    min-height: 600px;
  }
  .header {
    min-height: 100px;
    &__img {
      height: 80px;
      margin-top: 10px;
    }
    &__logo {
      padding: 10px 0;
      height: 80px;
    }
  }
  .slider {
    &__image {
      min-height: 370px;
    }
    &__caption {
      min-height: 370px;
      &:after {
        content: none;
      }
    }
  }
  .slideshow figure {
    border: 10px solid #fff;
  }
  .slideshow figcaption h3 {
    margin-top: 10vh;
  }
  .info-keys {
    left: 6px;
  }
  .about {
    padding-top: 80px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .gpbutton {
    padding: 20px 60px;
    &--mobile {
      margin: 40px auto 100px;
    }
    &--meal {
      // display: block;
      float: none;
    }
  }
  span.nav-close:before {
    height: 22px;
    width: 22px;
    left: -24px;
    top: 14px;
  }
  /* -----------------------------------------------------------------------
    Delivery Template Styles
--------------------------------------------------------------------------*/
  .meal {
    &__info {
      max-height: 600px;
      padding-bottom: 50px;
    }
    &__title {
      margin-top: 20px;
      span {
        display: block;
        margin-left: 0;
        margin-top: 10px;
      }
    }
    &__price {
      margin: 0 0 20px;
      float: left;
    }
    &__desc {
      margin-bottom: 10px;
    }
    &__order {
      text-align: center;
    }
  }
  .delivery {
    height: 400px;
  }
}