/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: 'Acrobat Semibold';
  src: url("../../assets/fonts/Akrobatsemibold.woff"); }

@font-face {
  font-family: 'Acrobat Bold';
  src: url("../../assets/fonts/Akrobatsemibold.woff"); }

@font-face {
  font-family: 'Acrobat Light';
  src: url("../../assets/fonts/Akrobatlight.woff"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../../assets/fonts/opensans.woff"); }

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../../assets/fonts/opensansbold.woff"); }

html,
body {
  font-family: 'Acrobat Semibold', sans-serif; }

* {
  outline: 0; }

body {
  min-width: 320px; }

ol,
ul {
  list-style: none; }

a {
  transition: all .3s ease; }
  a:hover {
    text-decoration: none; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
  z-index: 1; }

.glyphicon-chevron-right {
  font-size: 14px; }

/* ------------------------------------
    UI KIT Styles
------------------------------------- */
.gptitle {
  color: #fff;
  font-family: 'Acrobat Light', sans-serif;
  font-size: 80px;
  line-height: 0.7;
  margin-top: 0; }
  .gptitle--about {
    margin-bottom: 60px; }
  .gptitle--menu {
    padding: 110px 0 40px;
    display: inline-block; }
    .gptitle--menu:after {
      content: '';
      display: block;
      margin: 40px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: 0px 0px;
      width: 1140px;
      height: 101px; }
  .gptitle--video {
    text-align: center;
    padding: 110px 0 40px; }
    .gptitle--video:after {
      content: '';
      display: block;
      margin: 24px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -172px -101px;
      width: 360px;
      height: 16px; }
  .gptitle--team {
    text-align: center;
    padding: 110px 0 40px; }
    .gptitle--team:after {
      content: '';
      display: block;
      margin: 24px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -532px -101px;
      width: 360px;
      height: 16px; }
  .gptitle--deliv {
    padding: 144px 0 36px; }
    .gptitle--deliv:after {
      content: '';
      display: block;
      margin: 38px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -172px -101px;
      width: 360px;
      height: 16px; }
  .gptitle--shares {
    padding: 144px 0 36px; }
    .gptitle--shares:after {
      content: '';
      display: block;
      margin: 38px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -172px -101px;
      width: 360px;
      height: 16px; }
  .gptitle--popul {
    font-size: 60px;
    margin: 96px 0 66px;
    position: relative; }
    .gptitle--popul:after {
      content: '';
      position: absolute;
      width: 60%;
      top: 26px;
      right: 0;
      height: 1px;
      background: #bd9e13; }
  .gptitle--salad {
    font-size: 60px;
    margin: 20px 0 66px;
    position: relative; }
    .gptitle--salad:after {
      content: '';
      position: absolute;
      width: 80%;
      top: 26px;
      right: 0;
      height: 1px;
      background: #bd9e13; }

.gpbutton {
  margin: 100px auto;
  padding: 20px 80px;
  background-color: #bd9e13;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: 'Acrobat Bold', sans-serif;
  transition: all .3s ease;
  display: inline-block;
  letter-spacing: 1.4px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -6px; }
  .gpbutton--menu {
    margin-top: 74px; }
  .gpbutton--meal {
    margin: 0;
    padding: 20px 44px;
    float: right;
    font-size: 17px; }
  .gpbutton--news {
    margin-top: 4px; }
  .gpbutton--mobile {
    margin: 90px auto 100px; }
  .gpbutton--deliv {
    margin-top: 10px;
    padding: 20px 60px;
    font-size: 17px; }
  .gpbutton--shares {
    margin-top: 60px;
    margin-bottom: 0;
    padding: 20px 36px;
    font-size: 17px; }
  .gpbutton:hover, .gpbutton:focus {
    text-decoration: none;
    background-color: #d6b315;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -2px;
    cursor: pointer;
    color: #fff; }

.gpimage {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -10px;
  transition: all .3s ease;
  width: 100%; }
  .gpimage:hover {
    cursor: pointer;
    outline-offset: -2px; }

/* ------------------------------------
    Header&Nav Styles
------------------------------------- */
.navbar-default {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  margin-top: 52px; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  padding: 12px 34px;
  position: relative;
  transition: all .3s ease; }
  .navbar-default .navbar-nav > li > a:before {
    position: absolute;
    content: '';
    height: 70%;
    width: 1px;
    background: #7b7b7b;
    left: 100%;
    top: 6px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #bd9e13;
  border-radius: 2px;
  border: none; }
  .navbar-default .navbar-nav > li > a:hover:before,
  .navbar-default .navbar-nav > li > a:focus:before {
    content: none; }

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active--franch > a {
  position: relative; }
  .navbar-default .navbar-nav > li.active > a:before,
  .navbar-default .navbar-nav > li.active--franch > a:before {
    content: none; }

.navbar-default .navbar-nav > li.active--franch > a {
  color: #bd9e13; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #bd9e13;
  border-radius: 2px;
  background-image: none;
  color: #fff;
  cursor: pointer;
  margin-right: 2px; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  cursor: pointer; }

.header {
  background-color: #1d1d1d;
  min-height: 150px; }
  .header__logo {
    padding: 20px 0;
    display: inline-block; }
  .header__link {
    float: right;
    margin-top: 34px;
    padding: 16px 40px;
    border: 1px solid #d6b315;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Acrobat Bold', sans-serif;
    border-radius: 2px;
    transition: all .3s ease; }
    .header__link:hover, .header__link:active, .header__link:focus {
      text-decoration: none;
      background-color: #d6b315;
      color: #fff; }
  .header__img {
    margin-top: 20px;
    height: 110px; }

.gpnav {
  list-style: none;
  margin-top: 54px;
  padding-left: 0;
  padding-bottom: 36px;
  border-bottom: 1px solid #7b7b7b;
  transition: all .3s ease; }
  .gpnav li {
    display: inline-block; }
  .gpnav__item {
    font-family: 'Acrobat Semibold', sans-serif;
    color: #9a9a9b;
    font-size: 18px;
    padding: 12px 34px;
    position: relative; }
    .gpnav__item:before {
      position: absolute;
      content: '';
      height: 70%;
      width: 1px;
      background: #7b7b7b;
      left: 100%;
      top: 6px; }
    .gpnav__item:hover, .gpnav__item:focus, .gpnav__item:active {
      text-decoration: none;
      color: #d6b315; }
    .gpnav__item--last:before {
      content: none; }
    .gpnav__item--active {
      color: #bd9e13; }

.gpmobile {
  overflow: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background: #bd9e13;
  z-index: 12;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  transition-property: height, width, bottom, right, border-radius, opacity;
  transition-delay: .4s; }
  .gpmobile::after {
    content: "";
    display: block;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 70%;
    transform: translate3d(-100%, 0, 0);
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    transition-property: transform; }
  .gpmobile--open {
    height: 450px;
    width: 100%;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border-top-left-radius: 40% 10px;
    border-top-right-radius: 60% 30px;
    box-shadow: none;
    transition-delay: 0s; }
    .gpmobile--open::after {
      transform: translate3d(0, 0, 0); }
  .gpmobile__menu {
    opacity: 0;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-delay: 0s;
    background: none !important;
    list-style: none;
    padding: 45px 40px; }
    .gpmobile__menu li {
      padding-bottom: 20px; }
      .gpmobile__menu li a {
        font-family: 'Acrobat Semibold', sans-serif;
        font-size: 18px;
        color: #fff; }
        .gpmobile__menu li a:hover, .gpmobile__menu li a:active, .gpmobile__menu li a:focus {
          text-decoration: none; }
    .gpmobile__menu--open {
      opacity: 1; }
  .gpmobile__toggle {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 11;
    border-radius: 50%; }

.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 32%;
  top: 50%;
  width: 22px;
  height: 2px;
  background-color: #fff;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8); }

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms; }

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms; }

.icon-1.a {
  transform: rotate(45deg); }

.icon-3.b {
  transform: rotate(-45deg); }

.icon-2.c {
  opacity: 0; }

/* ------------------------------------
    Restornats&Slider Styles
------------------------------------- */
.slider__image {
  min-height: 704px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.slider__caption {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 704px; }
  .slider__caption:after {
    content: '.';
    width: 100%;
    margin: 20px auto -50px;
    background-image: url(../../assets/sprites/sprite.png);
    background-position: 0px 0px;
    width: 1140px;
    height: 101px; }

.slider__logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.slider__info {
  color: #fff;
  text-align: center; }

.slider__title {
  font-size: 60px;
  font-family: 'Acrobat Light', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0; }

.slider__slogan {
  font-size: 40px;
  font-family: 'Acrobat Light', sans-serif; }

.slick-prev {
  left: 25px;
  z-index: 100;
  background-image: url(../../assets/sprites/sprite.png);
  background-position: -237px -117px;
  width: 65px;
  height: 65px; }
  .slick-prev:before {
    content: none; }

.slick-next {
  right: 25px;
  background-image: url(../../assets/sprites/sprite.png);
  background-position: -172px -117px;
  width: 65px;
  height: 65px; }
  .slick-next:before {
    content: none; }

.slick-prev:hover,
.slick-prev:focus {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: -237px -117px;
  width: 65px;
  height: 65px; }

.slick-next:hover,
.slick-next:focus {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: -172px -117px;
  width: 65px;
  height: 65px; }

.slick-prev,
.slick-next {
  width: 65px;
  height: 65px;
  top: 46%; }

.slick-track {
  margin-bottom: 50px; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  outline: 0;
  background: 0 0; }
  .slick-dots li button:before {
    content: ''; }

.slick-dots li.slick-active button {
  background: #bd9e13; }

.slick-dots {
  bottom: 80px; }

/* ------------------------------------
    About Styles
------------------------------------- */
.about {
  min-height: 540px;
  background-image: url(../../assets/images/pattern__metal.jpg);
  margin-top: -50px;
  padding-top: 120px; }
  .about__info {
    font-family: 'Open Sasns', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0 0 10px; }
  .about__link {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 16px;
    color: #bd9e13;
    transition: all .3s ease; }
    .about__link:hover, .about__link:active, .about__link:focus {
      text-decoration: none;
      cursor: pointer;
      color: #d6b315; }

/* ------------------------------------
    Map Styles
------------------------------------- */
.location {
  min-height: 605px; }

/* ------------------------------------
    Menu Styles
------------------------------------- */
.menu {
  min-height: 1134px;
  text-align: center;
  position: relative; }
  .menu:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    display: inline-block;
    width: 100%;
    height: 23px;
    background-image: url(../../assets/images/icon__battlements.png);
    background-repeat: repeat-x; }
  .menu__item {
    background-color: #1b1b1b;
    padding-bottom: 36px; }
  .menu__title {
    text-transform: uppercase;
    font-family: 'Acrobat Bold', sans-serif;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2.4px; }
    .menu__title:after {
      content: '';
      width: 40px;
      display: block;
      margin: 14px auto 10px;
      height: 1px;
      background-color: #bd9e13;
      bottom: 0;
      left: 46%; }
  .menu__info {
    font-family: 'Open Sans', sans-serif;
    padding-top: 6px;
    padding-bottom: 16px;
    color: #717171;
    font-size: 14px;
    margin-bottom: 0; }
  .menu__link {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    cursor: pointer; }
    .menu__link:after {
      content: '';
      display: block;
      margin: 0 auto;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -172px -117px;
      width: 65px;
      height: 65px; }

/* ------------------------------------
   Video Styles
------------------------------------- */
.video {
  background: #1d1d1d;
  min-height: 912px;
  text-align: center;
  position: relative; }
  .video:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    display: inline-block;
    width: 100%;
    height: 23px;
    background-image: url(../../assets/images/icon__battlements.png);
    background-repeat: repeat-x; }
  .video__main {
    margin-top: 30px;
    max-height: 530px; }

/* ------------------------------------
   Gallery Styles
------------------------------------- */
.gallery {
  min-height: 1370px;
  text-align: center;
  padding-bottom: 10px; }

.grid figure {
  padding: 2px; }

.grid__item {
  transition: all .3s ease; }

/* ------------------------------------
   Team Styles
------------------------------------- */
.team {
  text-align: center;
  min-height: 750px;
  background-color: #bd9e13;
  padding-bottom: 20px;
  color: #fff;
  position: relative; }
  .team__img {
    height: 284px;
    background-position: center;
    background-repeat: no-repeat; }
  .team__title {
    font-size: 24px;
    font-family: 'Acrobat Bold', sans-serif;
    margin-top: 30px;
    display: block;
    text-transform: uppercase; }
  .team__pos {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif; }

.slick-prev.slick-prev--team,
.slick-next.slick-next--team {
  top: 54%; }

/* ------------------------------------
   News Styles
------------------------------------- */
.news {
  overflow: hidden;
  min-height: 1116px;
  background-image: url(../../assets/images/pattern__metal.jpg); }
  .news__title {
    font-family: 'Acrobat Bold', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 16px;
    text-align: left;
    margin-top: 0; }
  .news__time {
    color: #bd9e13;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    margin-bottom: 16px;
    display: inline-block; }
  .news__info {
    font-family: 'Open Sans Bold', sans-serif;
    color: #9a9a9b;
    font-size: 16px;
    transition: all .3s ease;
    margin-bottom: 4px; }
    .news__info--more {
      color: #bd9e13; }
      .news__info--more:hover {
        text-decoration: none;
        color: #d6b315;
        cursor: pointer; }
  .news__img {
    margin-bottom: 70px; }

/* ------------------------------------
    Footer  Styles
------------------------------------- */
.footer {
  min-height: 384px;
  background-color: #1d1d1d;
  padding-top: 76px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  color: #9a9a9b; }
  .footer__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Acrobat Bold', sans-serif;
    font-size: 24px;
    color: #bd9e13; }
  .footer__info {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #999; }
  .footer__prod {
    transition: all .3s ease;
    color: #bd9e13;
    padding-top: 8px;
    padding-bottom: 16px;
    display: inline-block; }
    .footer__prod:hover, .footer__prod:focus, .footer__prod:active {
      text-decoration: none;
      color: #d6b315; }
  .footer__copy {
    text-align: center; }
  .footer__logo {
    height: 110px; }

.gpicon {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #999;
  position: relative;
  font-size: 16px;
  padding-left: 24px;
  margin-bottom: 20px; }
  .gpicon:hover, .gpicon:focus, .gpicon:active {
    text-decoration: none;
    color: #bd9e13; }
  .gpicon--tel:before {
    content: '';
    position: absolute;
    background: url(../../assets/images/icon__phone.svg) no-repeat center;
    top: 4px;
    left: -2px;
    height: 18px;
    width: 18px; }
  .gpicon--mail:before {
    content: '';
    position: absolute;
    background: url(../../assets/images/icon__letter.svg) no-repeat center;
    top: 4px;
    left: -2px;
    height: 18px;
    width: 18px; }
  .gpicon--vk {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 51px; }
    .gpicon--vk:before {
      content: '';
      position: absolute;
      height: 51px;
      background: url(../../assets/images/icon__soc--vk.svg) no-repeat center;
      width: 44px;
      left: -2px; }
  .gpicon--in {
    display: inline-block;
    margin: 0;
    height: 51px; }
    .gpicon--in:before {
      content: '';
      position: absolute;
      height: 51px;
      background: url(../../assets/images/icon__soc--in.svg) no-repeat center;
      width: 44px;
      left: 61px; }
  .gpicon--fb {
    display: inline-block;
    margin: 0;
    height: 51px; }
    .gpicon--fb:before {
      content: '';
      position: absolute;
      height: 51px;
      background: url(../../assets/images/icon__soc--fb.svg) no-repeat center;
      width: 44px;
      left: 99px; }
  .gpicon--tw {
    display: inline-block;
    margin: 0;
    height: 51px; }
    .gpicon--tw:before {
      content: '';
      position: absolute;
      width: 44px;
      height: 51px;
      background: url(../../assets/images/icon__soc--tw.svg) no-repeat center;
      left: 137px; }
  .gpicon--top {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #999;
    font-size: 16px;
    margin: 14px 0; }
    .gpicon--top:before {
      content: '';
      position: absolute;
      height: 18px;
      width: 18px;
      top: 2px;
      left: initial;
      right: 128px; }

span.nav-next:before {
  content: '';
  background-image: url(../../assets/images/gallery__arrow--next.png);
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px; }

span.nav-prev:before {
  content: '';
  background-image: url(../../assets/images/gallery__arrow--prev.png);
  height: 50px;
  width: 50px;
  position: absolute;
  left: 40px; }

span.nav-close:before {
  left: 10px;
  top: 20px;
  background: url(../../assets/images/gallery__close.svg) no-repeat center;
  height: 30px;
  width: 30px;
  content: '';
  position: absolute;
  background-size: contain;
  border: none; }

#preloader {
  background-color: #bd9e13;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999; }

/* -----------------------------------------------------------------------
    Delivery Template Styles
--------------------------------------------------------------------------*/
.delivery {
  background: url(../../assets/images/bg--delivery.jpg) no-repeat center;
  height: 500px; }
  .delivery--new {
    background: url(../../assets/images/bg--news.jpg) no-repeat center; }

/* ------------------------------------
    Meals Styles
------------------------------------- */
.meals {
  min-height: 2066px;
  background-image: url(../../assets/images/pattern__metal.jpg);
  padding-bottom: 80px; }

.meal {
  background-color: #fff;
  margin-bottom: 36px;
  overflow: hidden; }
  .meal__title {
    font-family: 'Acrobat Bold', sans-serif;
    font-size: 26px;
    color: #333;
    margin: 4px 0 10px;
    display: inline-block; }
    .meal__title span {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: #888;
      display: inline-block;
      margin-left: 20px; }
  .meal__info {
    padding: 0px 30px 20px;
    font-family: 'Open Sans', sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 257px;
    max-height: 257px;
    overflow: hidden; }
  .meal__price {
    font-family: 'Acrobat Bold', sans-serif;
    font-size: 24px; }
  .meal__desc {
    margin-bottom: 36px;
    color: #888; }

/* -----------------------------------------------------------------------
    Shares Template Styles
--------------------------------------------------------------------------*/
.shares {
  min-height: 1710px;
  background-image: url(../../assets/images/pattern__metal.jpg);
  padding-top: 100px;
  padding-bottom: 40px; }
  .shares__title {
    font-family: 'Acrobat Light', sans-serif;
    font-size: 40px;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 0; }
  .shares__time {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #bd9e13;
    display: inline-block;
    margin-bottom: 18px; }
  .shares__excerpt {
    font-size: 14px;
    color: #fff;
    line-height: 1.7; }
  .shares__sp {
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 50px; }
    .shares__sp:before {
      position: absolute;
      content: '';
      background: url(../../assets/images/icon__sep--sh.svg) no-repeat center;
      width: 100%;
      height: 14px;
      bottom: 0; }

.pagination {
  padding-top: 10px; }
  .pagination ul {
    padding-left: 0; }
    .pagination ul li {
      display: inline-block; }
  .pagination__item {
    font-family: 'Acrobat Light', sans-serif;
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: underline;
    color: #bd9e13; }
    .pagination__item--active {
      color: #999;
      text-decoration: none; }
      .pagination__item--active:hover, .pagination__item--active:active, .pagination__item--active:focus {
        color: #999; }
    .pagination__item:hover, .pagination__item:active, .pagination__item:focus {
      color: #999; }

.glyphicon-menu-right, .glyphicon-menu-left {
  font-size: 20px;
  color: #bd9e13; }
