/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: 'Acrobat Semibold';
  src: url("/assets/fonts/Akrobatsemibold.woff"); }

@font-face {
  font-family: 'Acrobat Bold';
  src: url("/assets/fonts/Akrobatsemibold.woff"); }

@font-face {
  font-family: 'Acrobet-Light';
  src: url("/assets/fonts/Akrobatlight.woff"); }

@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/opensans.woff"); }

@font-face {
  font-family: 'Open Sans Bold';
  src: url("/assets/fonts/opensansbold.woff"); }

html,
body {
  font-family: 'Acrobat Semibold', sans-serif; }

* {
  outline: 0; }

/* ------------------------------------
    UI KIT Styles
------------------------------------- */
.title {
  color: #fff;
  font-family: 'Acrobet-Light', sans-serif;
  font-size: 80px;
  line-height: 0.7;
  margin-top: 0; }
  .title--about {
    margin-bottom: 60px; }
  .title--menu {
    padding: 110px 0 40px;
    display: inline-block; }
    .title--menu:after {
      content: '';
      display: block;
      margin: 40px auto 0;
      background-image: url(/assets/sprites/sprite.png);
      background-position: 0px 0px;
      width: 1140px;
      height: 101px; }
  .title--video {
    padding: 110px 0 40px; }
    .title--video:after {
      content: '';
      display: block;
      margin: 24px auto 0;
      background-image: url(/assets/sprites/sprite.png);
      background-position: -172px -101px;
      width: 360px;
      height: 16px; }
  .title--team {
    padding: 110px 0 40px; }
    .title--team:after {
      content: '';
      display: block;
      margin: 24px auto 0;
      background-image: url(/assets/sprites/sprite.png);
      background-position: -532px -101px;
      width: 360px;
      height: 16px; }

.button {
  margin: 100px auto;
  padding: 20px 80px;
  background-color: #bd9e13;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: 'Acrobat Bold', sans-serif;
  transition: all .3s ease;
  display: inline-block;
  outline: 1px solid white;
  outline-offset: -6px; }
  .button--menu {
    margin-top: 74px; }
  .button:hover, .button:focus {
    text-decoration: none;
    background-color: #d6b315;
    outline: 1px solid white;
    outline-offset: -2px;
    color: #fff; }

.image {
  outline: 1px solid rgba(255, 255, 255, 0.7);
  outline-offset: -10px;
  transition: all .3s ease; }
  .image:hover {
    cursor: pointer;
    outline-offset: -2px; }

/* ------------------------------------
    Header&Nav Styles
------------------------------------- */
.navbar-default {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  margin-top: 52px; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  padding: 12px 34px;
  position: relative;
  transition: all .3s ease; }
  .navbar-default .navbar-nav > li > a:before {
    position: absolute;
    content: '';
    height: 70%;
    width: 1px;
    background: #7b7b7b;
    left: 100%;
    top: 6px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #bd9e13;
  border-radius: 2px;
  border: none; }
  .navbar-default .navbar-nav > li > a:hover:before,
  .navbar-default .navbar-nav > li > a:focus:before {
    content: none; }

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active--franch > a {
  position: relative; }
  .navbar-default .navbar-nav > li.active > a:before,
  .navbar-default .navbar-nav > li.active--franch > a:before {
    content: none; }

.navbar-default .navbar-nav > li.active--franch > a {
  color: #bd9e13; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #bd9e13;
  border-radius: 2px;
  background-image: none;
  color: #fff;
  cursor: pointer; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  cursor: pointer; }

.header {
  background-color: #1d1d1d;
  min-height: 150px; }
  .header__logo {
    padding: 20px 0;
    display: block; }

/* ------------------------------------
    Restornats&Slider Styles
------------------------------------- */
.slider__image {
  min-height: 704px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.slider__caption {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 704px; }
  .slider__caption:after {
    content: '.';
    width: 100%;
    margin: 20px auto -50px;
    background-image: url(/assets/sprites/sprite.png);
    background-position: 0px 0px;
    width: 1140px;
    height: 101px; }

.slider__logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.slick-prev {
  left: 25px;
  z-index: 100;
  background-image: url(/assets/sprites/sprite.png);
  background-position: -237px -117px;
  width: 65px;
  height: 65px; }
  .slick-prev:before {
    content: none; }

.slick-next {
  right: 25px;
  background-image: url(/assets/sprites/sprite.png);
  background-position: -172px -117px;
  width: 65px;
  height: 65px; }
  .slick-next:before {
    content: none; }

.slick-prev:hover,
.slick-prev:focus {
  background-image: url(/assets/sprites/sprite.png);
  background-position: -237px -117px;
  width: 65px;
  height: 65px; }

.slick-next:hover,
.slick-next:focus {
  background-image: url(/assets/sprites/sprite.png);
  background-position: -172px -117px;
  width: 65px;
  height: 65px; }

.slick-prev,
.slick-next {
  width: 65px;
  height: 65px; }

.slick-track {
  margin-bottom: 50px; }

/* ------------------------------------
    About Styles
------------------------------------- */
.about {
  min-height: 540px;
  background-image: url(/assets/images/pattern__metal.jpg);
  margin-top: -50px;
  padding-top: 120px; }
  .about__info {
    font-family: 'Open Sasns', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0 0 10px; }
  .about__link {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 16px;
    color: #bd9e13;
    transition: all .3s ease; }
    .about__link:hover {
      text-decoration: none;
      cursor: pointer;
      color: #d6b315; }

/* ------------------------------------
    Map Styles
------------------------------------- */
.location {
  min-height: 605px; }

/* ------------------------------------
    Menu Styles
------------------------------------- */
.menu {
  height: 1134px;
  text-align: center;
  position: relative; }
  .menu:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    display: inline-block;
    width: 100%;
    height: 23px;
    background-image: url(/assets/images/icon__battlements.png);
    background-repeat: repeat-x; }
  .menu__item {
    background-color: #1b1b1b;
    padding-bottom: 36px; }
  .menu__title {
    text-transform: uppercase;
    font-family: 'Acrobat Bold', sans-serif;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2.4px; }
    .menu__title:after {
      content: '';
      width: 40px;
      display: block;
      margin: 14px auto 10px;
      height: 1px;
      background-color: #bd9e13;
      bottom: 0;
      left: 46%; }
  .menu__info {
    font-family: 'Open Sans', sans-serif;
    padding-top: 6px;
    padding-bottom: 16px;
    color: #717171;
    font-size: 14px;
    margin-bottom: 0; }
  .menu__link {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    cursor: pointer; }
    .menu__link:after {
      content: '';
      display: block;
      margin: 0 auto;
      background-image: url(/assets/sprites/sprite.png);
      background-position: -172px -117px;
      width: 65px;
      height: 65px; }

/* ------------------------------------
   Video Styles
------------------------------------- */
.video {
  background: #1d1d1d;
  min-height: 912px;
  text-align: center;
  position: relative; }
  .video:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    display: inline-block;
    width: 100%;
    height: 23px;
    background-image: url(/assets/images/icon__battlements.png);
    background-repeat: repeat-x; }
  .video__main {
    margin-top: 30px; }

/* ------------------------------------
   Gallery Styles
------------------------------------- */
.gallery {
  min-height: 1370px;
  text-align: center;
  padding-bottom: 10px; }

.grid figure {
  padding: 2px; }

.grid__item {
  transition: all .3s ease; }

/* ------------------------------------
   Team Styles
------------------------------------- */
.team {
  text-align: center;
  min-height: 750px;
  background-color: #bd9e13;
  padding-bottom: 20px; }
  .team__item {
    height: 284px;
    background-position: center;
    background-repeat: no-repeat; }
