html, body {
  font-family: 'Acrobat Semibold', sans-serif; }

@font-face {
  font-family: 'Acrobat Semibold';
  src: url("/assets/fonts/Akrobatsemibold.woff"); }

/* ------------------------------------
    Header Styles
------------------------------------- */
.header {
  background-color: #1d1d1d;
  min-height: 150px; }

.logo {
  padding: 20px  0;
  display: block; }

.navbar-default {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px; }
