/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@media screen and (max-width: 1200px) {
  .slider__caption:after {
    background-image: url(/assets/sprites/sprite.png);
    background-position: 0px -101px;
    width: 101px;
    height: 101px; }
  .gptitle--menu:after {
    background-image: url(/assets/sprites/sprite.png);
    background-position: 0px -101px;
    width: 101px;
    height: 101px; }
  .navbar-default .navbar-nav > li > a {
    padding: 12px 20px; } }

@media screen and (max-width: 1024px) {
  .menu__item {
    background-color: #1b1b1b;
    padding-bottom: 36px;
    margin-bottom: 40px; }
  .gptitle--about {
    margin: 20px 0 30px; }
  .gptitle--menu {
    padding-top: 64px; }
  .about {
    padding-bottom: 40px; }
  .news__img {
    margin-bottom: 20px; }
  .news__info--more {
    margin-bottom: 40px;
    display: inline-block; }
  .gpbutton--news {
    margin-top: 20px; }
  .navbar-default .navbar-nav > li > a {
    padding: 12px 11px;
    font-size: 16px; } }

@media screen and (max-width: 992px) {
  .slick-slide img {
    width: 80%; } }

@media screen and (max-width: 767px) {
  .gptitle {
    font-size: 60px; }
    .gptitle--video {
      padding-top: 74px;
      padding-bottom: 50px; }
      .gptitle--video::after {
        content: none; }
    .gptitle--team {
      padding-top: 70kpx; }
      .gptitle--team::after {
        content: none; }
  .video {
    min-height: 580px; }
    .video__main {
      margin-top: 0;
      min-height: 260px; }
  .footer {
    padding: 46px 0; }
    .footer__prod {
      padding-top: 20px; }
    .footer__copy {
      text-align: left; }
  .gpbutton--menu {
    margin-top: 50px; }
  .gallery {
    padding-bottom: 60px; }
  .team {
    min-height: 600px; }
  .header {
    min-height: 100px; }
    .header__img {
      height: 80px;
      margin-top: 10px; }
    .header__logo {
      padding: 10px 0;
      height: 80px; }
  .slider__image {
    min-height: 370px; }
  .slider__caption {
    min-height: 370px; }
    .slider__caption:after {
      content: none; }
  .slideshow figure {
    border: 10px solid #fff; }
  .slideshow figcaption h3 {
    margin-top: 10vh; }
  .info-keys {
    left: 6px; }
  .about {
    padding-top: 80px; }
  .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .gpbutton {
    padding: 20px 60px; }
  span.nav-close:before {
    height: 22px;
    width: 22px;
    left: -24px;
    top: 14px; } }
