/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-cart-container::before {
  /* dark bg layer visible when the cart is open */
  content: '';
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s; }

.cd-cart-container.cart-open::before {
  opacity: 1;
  visibility: visible; }

.cd-cart-trigger,
.cd-cart {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: transform .2s;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden; }

.empty .cd-cart-trigger,
.empty .cd-cart {
  /* hide cart */
  transform: translateY(200px); }

@media only screen and (min-width: 1170px) {
  .cd-cart-trigger,
  .cd-cart {
    bottom: 40px; } }

.cd-cart-trigger {
  /* button that triggers the cart content */
  z-index: 3;
  height: 72px;
  width: 72px;
  /* replace text with image */
  text-indent: 100%;
  color: transparent;
  white-space: nowrap; }

.cd-cart-trigger::after,
.cd-cart-trigger::before {
  /* used to create the cart/'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url(../images/cd-icons-cart-close.svg) no-repeat 0 0;
  transition: opacity .2s, transform .2s; }

.cd-cart-trigger::after {
  /* 'X' icon */
  background-position: -72px 0;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(90deg); }

.cart-open .cd-cart-trigger::before {
  opacity: 0; }

.cart-open .cd-cart-trigger::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%); }

.cd-cart-trigger .count {
  /* number of items indicator */
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: #e94b35;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  transition: transform .2s .5s;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.cd-cart-trigger .count li {
  /* this is the number of items in the cart */
  position: absolute;
  transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.cd-cart-trigger .count li:last-of-type {
  visibility: hidden; }

.cd-cart-trigger .count.update-count li:last-of-type {
  animation: cd-qty-enter .15s;
  animation-direction: forwards; }

.cd-cart-trigger .count.update-count li:first-of-type {
  animation: cd-qty-leave .15s;
  animation-direction: forwards; }

.cart-open .cd-cart-trigger .count {
  transition: transform .2s 0s;
  transform: scale(0); }

.empty .cd-cart-trigger .count {
  /* fix bug - when cart is empty, do not animate count */
  transform: scale(1); }

.cd-cart-trigger:hover + div .wrapper {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3); }

.cart-open .cd-cart-trigger:hover + div .wrapper {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17); }

.cd-cart {
  /* cart content */
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none; }

.cd-cart .wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 6px;
  transition: height .4s .1s, width .4s .1s, box-shadow .3s;
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto; }

.cd-cart header,
.cd-cart footer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%; }

.cd-cart header,
.cd-cart .body {
  opacity: 0; }

.cd-cart header {
  top: 0;
  border-radius: 6px 6px 0 0;
  padding: 0 1.4em;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  transition: opacity .2s 0s;
  border-bottom: 1px solid #e6e6e6; }

.cd-cart header::after {
  clear: both;
  content: "";
  display: block; }

.cd-cart footer {
  bottom: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: #ffffff; }

.cd-cart h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1em; }

.cd-cart .undo {
  float: right;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;
  color: #808b97; }

.cd-cart .undo a {
  text-decoration: underline;
  color: #2b3e51; }

.cd-cart .undo a:hover {
  color: #2c97de; }

.cd-cart .undo.visible {
  opacity: 1;
  visibility: visible; }

.cd-cart .checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: #bd9e13;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all .2s 0s; }

.cd-cart .checkout:hover {
  background-color: #bd9e13; }

.cd-cart .checkout em {
  position: relative;
  display: inline-block;
  transform: translateX(60px);
  transition: transform 0s .2s; }

.cd-cart .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(../images/cd-icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  transition: opacity .2s; }

.cd-cart .body {
  position: relative;
  z-index: 1;
  height: calc(100% - 40px);
  padding: 20px 0 10px;
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity .2s; }

.cd-cart .body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 90px;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.cd-cart .body li {
  position: relative;
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0s .2s, transform 0s .2s;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.cd-cart .body li::after {
  clear: both;
  content: "";
  display: block; }

.cd-cart .body li:not(:last-of-type) {
  margin-bottom: 20px; }

.cd-cart .body li.deleted {
  /* this class is added to an item when it is removed form the cart */
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  animation: cd-item-slide-out .3s forwards; }

.cd-cart .body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  animation: cd-item-slide-in .3s forwards; }

.cd-cart .body li.deleted + li {
  animation: cd-item-move-up-mobile .3s;
  animation-fill-mode: forwards; }

.cd-cart .body li.undo-deleted + li {
  animation: cd-item-move-down-mobile .3s;
  animation-fill-mode: forwards; }

.cd-cart .product-image {
  display: inline-block;
  float: left;
  /* the image height determines the height of the list item - in this case height = width */
  width: 50px; }

.cd-cart .product-image img {
  display: block;
  width: 100%; }

.cd-cart .product-details {
  position: relative;
  display: inline-block;
  float: right;
  width: calc( 100% - 50px);
  padding: 0.3em 0 0 0.5em; }

.cd-cart .product-details::after {
  clear: both;
  content: "";
  display: block; }

.cd-cart h3,
.cd-cart .price {
  font-weight: bold; }

.cd-cart h3 {
  width: 70%;
  float: left;
  /* truncate title with dots if too long */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.cd-cart h3 a {
  color: #2b3e51; }

.cd-cart h3 a:hover {
  color: #2c97de; }

.cd-cart .price {
  float: right;
  width: 30%;
  text-align: right; }

.cd-cart .actions {
  font-size: 1.4rem;
  height: 1.6em;
  line-height: 1.6em; }

.cd-cart .actions::after {
  clear: both;
  content: "";
  display: block; }

.cd-cart .delete-item,
.cd-cart .quantity {
  float: left;
  color: #808b97;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.cd-cart .delete-item {
  margin-right: 1em; }

.cd-cart .delete-item:hover {
  color: #e94b35; }

.cd-cart .quantity label {
  display: inline-block;
  margin-right: .3em; }

.cd-cart .select {
  position: relative; }

.cd-cart .select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/cd-icon-select.svg) no-repeat center center;
  pointer-events: none; }

.cd-cart select {
  position: relative;
  padding: 0 1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  color: #808b97; }

.cd-cart select:focus {
  outline: none;
  color: #2b3e51;
  box-shadow: 0 1px 0 currentColor; }

.cd-cart select::-ms-expand {
  /* hide default select arrow on IE */
  display: none; }

.cart-open .cd-cart .wrapper {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
  border-radius: 6px; }

.cart-open .cd-cart header,
.cart-open .cd-cart .body {
  opacity: 1; }

.cart-open .cd-cart header {
  transition: opacity .2s .2s; }

.cart-open .cd-cart .body {
  transition: opacity 0s; }

.cart-open .cd-cart .body li {
  transition: transform .3s .2s, opacity .3s .2s;
  opacity: 1;
  transform: translateX(0); }

.cart-open .cd-cart .body li:nth-of-type(2) {
  transition-duration: .4s; }

.cart-open .cd-cart .body li:nth-of-type(3) {
  transition-duration: .5s; }

.cart-open .cd-cart .body li:nth-of-type(4),
.cart-open .cd-cart .body li:nth-of-type(5) {
  transition-duration: .55s; }

.cart-open .cd-cart .checkout {
  color: #fff;
  transition: color .2s .3s; }

.cart-open .cd-cart .checkout em {
  transform: translateX(0);
  transition: transform .2s .3s, padding .2s 0s;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.cart-open .cd-cart .checkout:hover em {
  padding-right: 30px; }

.cart-open .cd-cart .checkout:hover em::after {
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-cart .body li:not(:last-of-type) {
    margin-bottom: 14px; }
  .cd-cart .body li.deleted + li {
    animation: cd-item-move-up .3s; }
  .cd-cart .body li.undo-deleted + li {
    animation: cd-item-move-down .3s; }
  .cd-cart .checkout {
    font-size: 2.4rem; }
  .cd-cart .product-image {
    width: 90px; }
  .cd-cart .product-details {
    padding: 1.4em 0 0 1em;
    width: calc( 100% - 90px); }
  .cd-cart h3,
  .cd-cart .price {
    font-size: 1.8rem; } }

@media only screen and (max-width: 768px) {
  .cd-cart-trigger,
  .cd-cart {
    bottom: 100px; } }

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(0); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%); } }

@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%); }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-100%); } }

@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px; }
  100% {
    padding-top: 0px; } }

@keyframes cd-item-move-up {
  0% {
    padding-top: 104px; }
  100% {
    padding-top: 0px; } }

@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 70px; } }

@keyframes cd-item-move-down {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 104px; } }

@keyframes cd-item-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(80px);
    opacity: 0; } }

@keyframes cd-item-slide-in {
  100% {
    transform: translateX(0);
    opacity: 1; }
  0% {
    transform: translateX(80px);
    opacity: 0; } }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome/fontawesome.eot?-e43dk9");
  src: url("../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome.woff?-e43dk9") format("woff"), url("../fonts/fontawesome/fontawesome.ttf?-e43dk9") format("truetype"), url("../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Made with http://icomoon.io/app */
/* General style */
.grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.grid-gallery figure {
  margin: 0; }

.grid-gallery figure img {
  display: block;
  width: 100%; }

.grid-gallery figcaption h3 {
  margin: 0;
  padding: 0 0 0.5em; }

.grid-gallery figcaption p {
  margin: 0; }

/* Grid style */
.grid-wrap {
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1em 1.875em; }

.grid {
  margin: 0 auto; }

.grid li {
  width: 33%;
  float: left;
  cursor: pointer; }

.grid figure {
  padding: 15px;
  transition: opacity 0.2s; }

.grid li:hover figure {
  opacity: 0.7; }

.grid figcaption {
  background: #e4e4e4;
  padding: 25px; }

/* Slideshow style */
.slideshow {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  perspective: 1000px;
  transition: opacity 0.5s, visibility 0s 0.5s; }

.slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s; }

.slideshow ul {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 150px);
  transition: transform 0.5s; }

.slideshow ul.animatable li {
  transition: transform 0.5s; }

.slideshow-open .slideshow ul {
  transform: translate3d(0, 0, 0); }

.slideshow li {
  width: 660px;
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -330px;
  visibility: hidden; }

.slideshow li.show {
  visibility: visible; }

.slideshow li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: opacity 0.3s; }

.slideshow li.current:after {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s; }

.slideshow figure {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 50px solid #fff;
  overflow: hidden; }

.slideshow figcaption {
  padding-bottom: 20px; }

.slideshow figcaption h3 {
  font-weight: 300;
  font-size: 200%; }

/* Navigation */
.slideshow nav span {
  position: fixed;
  z-index: 1000;
  color: #d6b315;
  text-align: center;
  padding: 223px 3%;
  cursor: pointer;
  font-size: 2.2em; }

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
  top: 50%;
  transform: translateY(-50%); }

.slideshow nav span.nav-next {
  right: 0; }

.slideshow nav span.nav-prev {
  left: 0; }

.slideshow nav span.nav-close {
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  color: #d6b315; }

.icon:before,
.icon:after {
  font-family: 'fontawesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

span.nav-prev:before {
  content: "\e601"; }

span.nav-next:before {
  content: "\e600"; }

span.nav-close:before {
  content: "\e602"; }

/* Info on arrow key navigation */
.info-keys {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  font-size: 8px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #bd9e13;
  letter-spacing: 1px;
  text-align: center; }

.info-keys:before,
.info-keys:after {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #bd9e13;
  text-align: center;
  line-height: 14px;
  font-size: 12px; }

/*.info-keys:after {
	right: 10px;
	content: "\e604";
}*/
/* Example media queries (reduce number of columns and change slideshow layout) */
@media screen and (max-width: 60em) {
  /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
  .grid li {
    width: 33.3%; }
  .info-keys:before {
    left: 10px;
    background: url(../../assets/images/gallery__swipe.svg) no-repeat center;
    height: 30px;
    width: 30px;
    content: '';
    position: absolute;
    background-size: contain;
    border: none; }
  .slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0; }
  .slideshow li figure img {
    width: auto;
    margin: 0 auto;
    max-width: 100%; }
  .slideshow nav span,
  .slideshow nav span.nav-close {
    font-size: 1.8em;
    padding: 0.3em; }
  /*.info-keys {
		display: none;
	}*/ }

@media screen and (max-width: 35em) {
  .grid li {
    width: 50%; } }

@media screen and (max-width: 24em) {
  .grid li {
    width: 100%; } }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: 'Acrobat Semibold';
  src: url("../../assets/fonts/Akrobatsemibold.woff"); }

@font-face {
  font-family: 'Acrobat Bold';
  src: url("../../assets/fonts/Akrobatsemibold.woff"); }

@font-face {
  font-family: 'Acrobat-Light';
  src: url("../../assets/fonts/Akrobatlight.woff"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../../assets/fonts/opensans.woff"); }

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../../assets/fonts/opensansbold.woff"); }

html,
body {
  font-family: 'Acrobat Semibold', sans-serif; }

* {
  outline: 0; }

body {
  min-width: 320px; }

ol, ul {
  list-style: none; }

a {
  transition: all .3s ease; }
  a:hover {
    text-decoration: none; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
  z-index: 1; }

/* ------------------------------------
    UI KIT Styles
------------------------------------- */
.gptitle {
  color: #fff;
  font-family: 'Acrobat-Light', sans-serif;
  font-size: 80px;
  line-height: 0.7;
  margin-top: 0; }
  .gptitle--about {
    margin-bottom: 60px; }
  .gptitle--menu {
    padding: 110px 0 40px;
    display: inline-block; }
    .gptitle--menu:after {
      content: '';
      display: block;
      margin: 40px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: 0px 0px;
      width: 1140px;
      height: 101px; }
  .gptitle--video {
    text-align: center;
    padding: 110px 0 40px; }
    .gptitle--video:after {
      content: '';
      display: block;
      margin: 24px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -172px -101px;
      width: 360px;
      height: 16px; }
  .gptitle--team {
    text-align: center;
    padding: 110px 0 40px; }
    .gptitle--team:after {
      content: '';
      display: block;
      margin: 24px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -532px -101px;
      width: 360px;
      height: 16px; }
  .gptitle--deliv {
    padding: 144px 0 36px; }
    .gptitle--deliv:after {
      content: '';
      display: block;
      margin: 38px auto 0;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -172px -101px;
      width: 360px;
      height: 16px; }
  .gptitle--popul {
    font-size: 60px;
    margin: 96px 0 66px;
    position: relative; }
    .gptitle--popul:after {
      content: '';
      position: absolute;
      width: 60%;
      top: 26px;
      right: 0;
      height: 1px;
      background: #bd9e13; }
  .gptitle--salad {
    font-size: 60px;
    margin: 20px 0 66px;
    position: relative; }
    .gptitle--salad:after {
      content: '';
      position: absolute;
      width: 80%;
      top: 26px;
      right: 0;
      height: 1px;
      background: #bd9e13; }

.gpbutton {
  margin: 100px auto;
  padding: 20px 80px;
  background-color: #bd9e13;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: 'Acrobat Bold', sans-serif;
  transition: all .3s ease;
  display: inline-block;
  letter-spacing: 1.4px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -6px; }
  .gpbutton--menu {
    margin-top: 74px; }
  .gpbutton--meal {
    margin: 0;
    padding: 20px 44px;
    float: right; }
  .gpbutton--news {
    margin-top: 4px; }
  .gpbutton--mobile {
    margin: 90px auto 100px; }
  .gpbutton--deliv {
    margin-top: 10px;
    padding: 20px 60px; }
  .gpbutton:hover, .gpbutton:focus {
    text-decoration: none;
    background-color: #d6b315;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -2px;
    cursor: pointer;
    color: #fff; }

.gpimage {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -10px;
  transition: all .3s ease;
  width: 100%; }
  .gpimage:hover {
    cursor: pointer;
    outline-offset: -2px; }

/* ------------------------------------
    Header&Nav Styles
------------------------------------- */
.navbar-default {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  margin-top: 52px; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  padding: 12px 34px;
  position: relative;
  transition: all .3s ease; }
  .navbar-default .navbar-nav > li > a:before {
    position: absolute;
    content: '';
    height: 70%;
    width: 1px;
    background: #7b7b7b;
    left: 100%;
    top: 6px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #bd9e13;
  border-radius: 2px;
  border: none; }
  .navbar-default .navbar-nav > li > a:hover:before,
  .navbar-default .navbar-nav > li > a:focus:before {
    content: none; }

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active--franch > a {
  position: relative; }
  .navbar-default .navbar-nav > li.active > a:before,
  .navbar-default .navbar-nav > li.active--franch > a:before {
    content: none; }

.navbar-default .navbar-nav > li.active--franch > a {
  color: #bd9e13; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #bd9e13;
  border-radius: 2px;
  background-image: none;
  color: #fff;
  cursor: pointer;
  margin-right: 2px; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  cursor: pointer; }

.header {
  background-color: #1d1d1d;
  min-height: 150px; }
  .header__logo {
    padding: 20px 0;
    display: inline-block; }
  .header__link {
    float: right;
    margin-top: 34px;
    padding: 16px 40px;
    border: 1px solid #d6b315;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Acrobat Bold', sans-serif;
    border-radius: 2px;
    transition: all .3s ease; }
    .header__link:hover, .header__link:active, .header__link:focus {
      text-decoration: none;
      background-color: #d6b315;
      color: #fff; }
  .header__img {
    margin-top: 20px;
    height: 110px; }

.gpnav {
  list-style: none;
  margin-top: 54px;
  padding-left: 0;
  padding-bottom: 36px;
  border-bottom: 1px solid #7b7b7b;
  transition: all .3s ease; }
  .gpnav li {
    display: inline-block; }
  .gpnav__item {
    font-family: 'Acrobat Semibold', sans-serif;
    color: #9a9a9b;
    font-size: 18px;
    padding: 12px 34px;
    position: relative; }
    .gpnav__item:before {
      position: absolute;
      content: '';
      height: 70%;
      width: 1px;
      background: #7b7b7b;
      left: 100%;
      top: 6px; }
    .gpnav__item:hover, .gpnav__item:focus, .gpnav__item:active {
      text-decoration: none;
      color: #d6b315; }
    .gpnav__item--last:before {
      content: none; }
    .gpnav__item--active {
      color: #bd9e13; }

.gpmobile {
  overflow: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background: #bd9e13;
  z-index: 12;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  transition-property: height, width, bottom, right, border-radius, opacity;
  transition-delay: .4s; }
  .gpmobile::after {
    content: "";
    display: block;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 70%;
    transform: translate3d(-100%, 0, 0);
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    transition-property: transform; }
  .gpmobile--open {
    height: 450px;
    width: 100%;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border-top-left-radius: 40% 10px;
    border-top-right-radius: 60% 30px;
    box-shadow: none;
    transition-delay: 0s; }
    .gpmobile--open::after {
      transform: translate3d(0, 0, 0); }
  .gpmobile__menu {
    opacity: 0;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-delay: 0s;
    background: none !important;
    list-style: none;
    padding: 45px 40px; }
    .gpmobile__menu li {
      padding-bottom: 20px; }
      .gpmobile__menu li a {
        font-family: 'Acrobat Semibold', sans-serif;
        font-size: 18px;
        color: #fff; }
        .gpmobile__menu li a:hover, .gpmobile__menu li a:active, .gpmobile__menu li a:focus {
          text-decoration: none; }
    .gpmobile__menu--open {
      opacity: 1; }
  .gpmobile__toggle {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 11;
    border-radius: 50%; }

.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 32%;
  top: 50%;
  width: 22px;
  height: 2px;
  background-color: #fff;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8); }

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms; }

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms; }

.icon-1.a {
  transform: rotate(45deg); }

.icon-3.b {
  transform: rotate(-45deg); }

.icon-2.c {
  opacity: 0; }

/* ------------------------------------
    Restornats&Slider Styles
------------------------------------- */
.slider__image {
  min-height: 704px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.slider__caption {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 704px; }
  .slider__caption:after {
    content: '.';
    width: 100%;
    margin: 20px auto -50px;
    background-image: url(../../assets/sprites/sprite.png);
    background-position: 0px 0px;
    width: 1140px;
    height: 101px; }

.slider__logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.slider__info {
  color: #fff;
  text-align: center; }

.slider__title {
  font-size: 60px;
  font-family: 'Acrobat-Light', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0; }

.slider__slogan {
  font-size: 40px;
  font-family: 'Acrobat-Light', sans-serif; }

.slick-prev {
  left: 25px;
  z-index: 100;
  background-image: url(../../assets/sprites/sprite.png);
  background-position: -237px -117px;
  width: 65px;
  height: 65px; }
  .slick-prev:before {
    content: none; }

.slick-next {
  right: 25px;
  background-image: url(../../assets/sprites/sprite.png);
  background-position: -172px -117px;
  width: 65px;
  height: 65px; }
  .slick-next:before {
    content: none; }

.slick-prev:hover,
.slick-prev:focus {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: -237px -117px;
  width: 65px;
  height: 65px; }

.slick-next:hover,
.slick-next:focus {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: -172px -117px;
  width: 65px;
  height: 65px; }

.slick-prev,
.slick-next {
  width: 65px;
  height: 65px;
  top: 46%; }

.slick-track {
  margin-bottom: 50px; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  outline: 0;
  background: 0 0; }
  .slick-dots li button:before {
    content: ''; }

.slick-dots li.slick-active button {
  background: #bd9e13; }

.slick-dots {
  bottom: 80px; }

/* ------------------------------------
    About Styles
------------------------------------- */
.about {
  min-height: 540px;
  background-image: url(../../assets/images/pattern__metal.jpg);
  margin-top: -50px;
  padding-top: 120px; }
  .about__info {
    font-family: 'Open Sasns', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0 0 10px; }
  .about__link {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 16px;
    color: #bd9e13;
    transition: all .3s ease; }
    .about__link:hover {
      text-decoration: none;
      cursor: pointer;
      color: #d6b315; }

/* ------------------------------------
    Map Styles
------------------------------------- */
.location {
  min-height: 605px; }

/* ------------------------------------
    Menu Styles
------------------------------------- */
.menu {
  min-height: 1134px;
  text-align: center;
  position: relative; }
  .menu:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    display: inline-block;
    width: 100%;
    height: 23px;
    background-image: url(../../assets/images/icon__battlements.png);
    background-repeat: repeat-x; }
  .menu__item {
    background-color: #1b1b1b;
    padding-bottom: 36px; }
  .menu__title {
    text-transform: uppercase;
    font-family: 'Acrobat Bold', sans-serif;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2.4px; }
    .menu__title:after {
      content: '';
      width: 40px;
      display: block;
      margin: 14px auto 10px;
      height: 1px;
      background-color: #bd9e13;
      bottom: 0;
      left: 46%; }
  .menu__info {
    font-family: 'Open Sans', sans-serif;
    padding-top: 6px;
    padding-bottom: 16px;
    color: #717171;
    font-size: 14px;
    margin-bottom: 0; }
  .menu__link {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    cursor: pointer; }
    .menu__link:after {
      content: '';
      display: block;
      margin: 0 auto;
      background-image: url(../../assets/sprites/sprite.png);
      background-position: -172px -117px;
      width: 65px;
      height: 65px; }

/* ------------------------------------
   Video Styles
------------------------------------- */
.video {
  background: #1d1d1d;
  min-height: 912px;
  text-align: center;
  position: relative; }
  .video:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    display: inline-block;
    width: 100%;
    height: 23px;
    background-image: url(../../assets/images/icon__battlements.png);
    background-repeat: repeat-x; }
  .video__main {
    margin-top: 30px;
    max-height: 530px; }

/* ------------------------------------
   Gallery Styles
------------------------------------- */
.gallery {
  min-height: 1370px;
  text-align: center;
  padding-bottom: 10px; }

.grid figure {
  padding: 2px; }

.grid__item {
  transition: all .3s ease; }

/* ------------------------------------
   Team Styles
------------------------------------- */
.team {
  text-align: center;
  min-height: 750px;
  background-color: #bd9e13;
  padding-bottom: 20px;
  color: #fff;
  position: relative; }
  .team__img {
    height: 284px;
    background-position: center;
    background-repeat: no-repeat; }
  .team__title {
    font-size: 24px;
    font-family: 'Acrobat Bold', sans-serif;
    margin-top: 30px;
    display: block;
    text-transform: uppercase; }
  .team__pos {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif; }

.slick-prev.slick-prev--team,
.slick-next.slick-next--team {
  top: 54%; }

/* ------------------------------------
   News Styles
------------------------------------- */
.news {
  overflow: hidden;
  min-height: 1116px;
  background-image: url(../../assets/images/pattern__metal.jpg); }
  .news__title {
    font-family: 'Acrobat Bold', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 16px;
    text-align: left;
    margin-top: 0; }
  .news__time {
    color: #bd9e13;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    margin-bottom: 16px;
    display: inline-block; }
  .news__info {
    font-family: 'Open Sans Bold', sans-serif;
    color: #9a9a9b;
    font-size: 16px;
    transition: all .3s ease;
    margin-bottom: 4px; }
    .news__info--more {
      color: #bd9e13; }
      .news__info--more:hover {
        text-decoration: none;
        color: #d6b315;
        cursor: pointer; }
  .news__img {
    margin-bottom: 70px; }

/* ------------------------------------
    Footer  Styles
------------------------------------- */
.footer {
  min-height: 384px;
  background-color: #1d1d1d;
  padding-top: 76px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  color: #9a9a9b; }
  .footer__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Acrobat Bold', sans-serif;
    font-size: 24px;
    color: #bd9e13; }
  .footer__info {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #999; }
  .footer__prod {
    transition: all .3s ease;
    color: #bd9e13;
    padding-top: 8px;
    padding-bottom: 16px;
    display: inline-block; }
    .footer__prod:hover, .footer__prod:focus, .footer__prod:active {
      text-decoration: none;
      color: #d6b315; }
  .footer__copy {
    text-align: center; }
  .footer__logo {
    height: 110px; }

.gpicon {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #999;
  position: relative;
  font-size: 16px;
  padding-left: 24px;
  margin-bottom: 20px; }
  .gpicon:hover, .gpicon:focus, .gpicon:active {
    text-decoration: none;
    color: #bd9e13; }
  .gpicon--tel:before {
    content: '';
    position: absolute;
    background: url(../../assets/images/icon__phone.svg) no-repeat center;
    top: 4px;
    left: -2px;
    height: 18px;
    width: 18px; }
  .gpicon--mail:before {
    content: '';
    position: absolute;
    background: url(../../assets/images/icon__letter.svg) no-repeat center;
    top: 4px;
    left: -2px;
    height: 18px;
    width: 18px; }
  .gpicon--vk {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 51px; }
    .gpicon--vk:before {
      content: '';
      position: absolute;
      height: 51px;
      background: url(../../assets/images/icon__soc--vk.svg) no-repeat center;
      width: 44px;
      left: -2px; }
  .gpicon--in {
    display: inline-block;
    margin: 0;
    height: 51px; }
    .gpicon--in:before {
      content: '';
      position: absolute;
      height: 51px;
      background: url(../../assets/images/icon__soc--in.svg) no-repeat center;
      width: 44px;
      left: 61px; }
  .gpicon--fb {
    display: inline-block;
    margin: 0;
    height: 51px; }
    .gpicon--fb:before {
      content: '';
      position: absolute;
      height: 51px;
      background: url(../../assets/images/icon__soc--fb.svg) no-repeat center;
      width: 44px;
      left: 99px; }
  .gpicon--tw {
    display: inline-block;
    margin: 0;
    height: 51px; }
    .gpicon--tw:before {
      content: '';
      position: absolute;
      width: 44px;
      height: 51px;
      background: url(../../assets/images/icon__soc--tw.svg) no-repeat center;
      left: 137px; }
  .gpicon--top {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #999;
    font-size: 16px;
    margin: 14px 0; }
    .gpicon--top:before {
      content: '';
      position: absolute;
      height: 18px;
      width: 18px;
      top: 2px;
      left: initial;
      right: 128px; }

span.nav-next:before {
  content: '';
  background-image: url(../../assets/images/gallery__arrow--next.png);
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px; }

span.nav-prev:before {
  content: '';
  background-image: url(../../assets/images/gallery__arrow--prev.png);
  height: 50px;
  width: 50px;
  position: absolute;
  left: 40px; }

span.nav-close:before {
  left: 10px;
  top: 20px;
  background: url(../../assets/images/gallery__close.svg) no-repeat center;
  height: 30px;
  width: 30px;
  content: '';
  position: absolute;
  background-size: contain;
  border: none; }

#preloader {
  background-color: #bd9e13;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999; }

/* -----------------------------------------------------------------------
    Delivery Template Styles
--------------------------------------------------------------------------*/
.delivery {
  background: url(../../assets/images/bg--delivery.jpg) no-repeat center;
  height: 500px; }

/* ------------------------------------
    Meals Styles
------------------------------------- */
.meals {
  min-height: 2066px;
  background-image: url(../../assets/images/pattern__metal.jpg);
  padding-bottom: 80px; }

.meal {
  background-color: #fff;
  margin-bottom: 36px;
  overflow: hidden; }
  .meal__title {
    font-family: 'Acrobat Bold', sans-serif;
    font-size: 26px;
    color: #333;
    margin: 4px  0 10px;
    display: inline-block; }
    .meal__title span {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: #888;
      display: inline-block;
      margin-left: 20px; }
  .meal__info {
    padding: 0px 30px 20px;
    font-family: 'Open Sans', sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 257px;
    max-height: 257px;
    overflow: hidden; }
  .meal__price {
    font-family: 'Acrobat Bold', sans-serif;
    font-size: 24px; }
  .meal__desc {
    margin-bottom: 36px;
    color: #888; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@media screen and (max-width: 1200px) {
  .slider__caption:after {
    background-image: url(../../assets/sprites/sprite.png);
    background-position: 0px -101px;
    width: 101px;
    height: 101px; }
  .gptitle--menu:after {
    background-image: url(../../assets/sprites/sprite.png);
    background-position: 0px -101px;
    width: 101px;
    height: 101px; }
  .navbar-default .navbar-nav > li > a {
    padding: 12px 20px; } }

@media screen and (max-width: 1024px) {
  .menu__item {
    background-color: #1b1b1b;
    padding-bottom: 36px;
    margin-bottom: 40px; }
  .gptitle--about {
    margin: 20px 0 30px; }
  .gptitle--menu {
    padding-top: 64px; }
  .about {
    padding-bottom: 40px; }
  .news__img {
    margin-bottom: 20px; }
  .news__info--more {
    margin-bottom: 40px;
    display: inline-block; }
  .gpbutton--news {
    margin-top: 20px; }
  .navbar-default .navbar-nav > li > a {
    padding: 12px 11px;
    font-size: 16px; }
  .video__main {
    width: 90%; } }

@media screen and (max-width: 992px) {
  .slick-slide img {
    width: 80%; }
  .gptitle--popul {
    margin-top: 40px;
    margin-bottom: 50px; }
    .gptitle--popul::after {
      content: none; }
  .gptitle--salad::after {
    content: none; } }

@media screen and (max-width: 767px) {
  .gptitle {
    font-size: 60px; }
    .gptitle--video {
      padding-top: 74px;
      padding-bottom: 50px; }
      .gptitle--video::after {
        content: none; }
    .gptitle--team {
      padding-top: 70px; }
      .gptitle--team::after {
        content: none; }
    .gptitle--deliv {
      padding: 74px 0 36px; }
      .gptitle--deliv::after {
        content: none; }
    .gptitle--popul {
      margin-top: 40px;
      margin-bottom: 50px; }
      .gptitle--popul::after {
        content: none; }
    .gptitle--salad::after {
      content: none; }
  .video {
    min-height: 580px; }
    .video__main {
      margin-top: 0;
      min-height: 260px; }
  .footer {
    padding: 46px 0; }
    .footer__prod {
      padding-top: 20px; }
    .footer__copy {
      text-align: left; }
  .gpbutton--menu {
    margin-top: 50px; }
  .gallery {
    padding-bottom: 60px; }
  .team {
    min-height: 600px; }
  .header {
    min-height: 100px; }
    .header__img {
      height: 80px;
      margin-top: 10px; }
    .header__logo {
      padding: 10px 0;
      height: 80px; }
  .slider__image {
    min-height: 370px; }
  .slider__caption {
    min-height: 370px; }
    .slider__caption:after {
      content: none; }
  .slideshow figure {
    border: 10px solid #fff; }
  .slideshow figcaption h3 {
    margin-top: 10vh; }
  .info-keys {
    left: 6px; }
  .about {
    padding-top: 80px; }
  .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .gpbutton {
    padding: 20px 60px; }
    .gpbutton--mobile {
      margin: 40px auto 100px; }
    .gpbutton--meal {
      float: none; }
  span.nav-close:before {
    height: 22px;
    width: 22px;
    left: -24px;
    top: 14px; }
  /* -----------------------------------------------------------------------
    Delivery Template Styles
--------------------------------------------------------------------------*/
  .meal__info {
    max-height: 600px;
    padding-bottom: 50px; }
  .meal__title {
    margin-top: 20px; }
    .meal__title span {
      display: block;
      margin-left: 0;
      margin-top: 10px; }
  .meal__price {
    margin: 0 0 20px;
    float: left; }
  .meal__desc {
    margin-bottom: 10px; }
  .meal__order {
    text-align: center; }
  .delivery {
    height: 400px; } }
